*, *::before, *::after {
  box-sizing: border-box;
}

/* -----GENERAL + FONT STYLES----- */

body {
  font-family: 'SF UI Text', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #454658;
}

h1 {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 110%;
}

h1 ~ .subtitle {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
}

h2 {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
}

h3 {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
}

a.button {
  font-family: 'SF UI Text';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

/* "RUST" langage indicator in code segment */
.langage-name {
  font-family: 'SF UI Text';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
}

.code-segment pre {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  background-color: white;
  color: #454658;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.code-segment pre .method {
  color: #FF6240;
}
.code-segment pre .function {
  color: #43C9D5;
}
.code-segment pre .keyword {
  color: #5D64D2;
}
.code-segment pre .string {
  color: #4548B0;
}
.code-segment pre .comment {
  color: #A8A8C1;
}
.code-segment pre .symbol {
  color: #B160F0;
}


/* SEE MORE links */
a.see-more {
  font-family: 'SF UI Text';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;
}

/* -----HEADER----- */

header {
  min-height: 926px;
  background-color: #151B2B;
  color: white;
}

header .logo {
  height: 100px;
  border: 1px solid red;
}

header .jumbotron {
  border: 1px solid green;
}

header .jumbotron .jumbotron-item.text {
  border: 1px solid lightblue;
  min-height: 200px;
}

header .jumbotron .jumbotron-item.picture {
  border: 1px solid coral;
  min-height: 300px;
}

/* -----MAIN----- */

main {
  background-color: #F9F9FD;
  min-height: 500px;
}

/* -----FOOTER----- */

footer {
  background-color: #151B2B;
  min-height: 175px;
}